:root {
  --blue: hsla(211, 76%, 28%,1);
  --red: hsla(358, 83%, 46%,1);
}

html {
  box-sizing: border-box;
  font-family:  "Verdana";
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: /*url("../../img/bkg/flag-fabric.svg"),*/
    linear-gradient(45deg , var(--red), var(--blue),white);
  background-size: 100%;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

.wrapsite {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    place-items: center;
    justify-content: space-around;	
    width: 100%;
    overflow: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  color: white;
  background-color: var(--blue) ;
  font-family: "Bookman";
  padding: 20px;
  border-radius: 10px;
}

h1 {
color: hsla(211, 76%, 28%,1);  
background-color: whitesmoke; 
font-size: 1.5rem;
grid-column: 2 / -2;
border: 5px dashed var(--red);
z-index: 7;
}

h2.header-title {
  position: absolute; 
  color: white;  
  background-color: hsla(211, 76%, 28%,0.7); 
  font-size: 3.5rem;
  font-family:  "Georgia";
  box-shadow: 0 50px 100px rgba(50,50,93,.2), 0 15px 35px rgba(50,50,93,.3), 0 5px 15px rgba(0,0,0,.2); 
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  place-self: center;
  z-index: 9;
  }

h3 {
  grid-column: 2 / -2;
  border: 1rem ridge var(--red);
}

h4 {
  color: var(--blue);
  background-color: white; 
  font-size: 1.3rem;
  border: 5px solid var(--red);
  padding: 5px;
  font-weight: 700;
  }

header {
  position: relative;
  display: grid;
  /*background: no-repeat center/100% url("../../img/bkg/charles-bridge-blue_compressed.jpg");*/
  grid-column: 1 / -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.headervideo {
  max-width: 1280px;
  z-index: 1;
}

.panoramabox {
  overflow-x: hidden;
  height: 100vh;
}

.panorama-animation-box {
  grid-column: 1 / -1;
  width: 100%;
  height: 100vh;
  background: url("../../img/bkg/olomouc-rada-domu1920x108.jpg") repeat-y;
        background-size: cover;
  -webkit-animation: backgroundScroll 20s linear infinite;
  animation: backgroundScroll 20s linear infinite;
}

@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}

.logo-box {
  perspective: 1000px;
  height: 100vh;
  display: grid;
  place-items: center;
  place-content: space-around;
  background: no-repeat center/100% url("../../img/bkg/orloj-closeup.jpg");
}

.card {
  width: 700px;
  height: 700px;
  position: relative;
  background: no-repeat center/100% url("../../img/bkg/orloj-art.png");
  border-radius: 3px;
    z-index: 7;
    }
        
.card:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    left: 0;
    bottom: 0px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, .3);
  }


.carrusel {
  overflow-x: hidden;
  height: 100vh;
}


img.sliderimg {
  position: absolute;
  min-width: 100%;
  height: 100vh;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67);
}

img.sliderimg + img.sliderimg { 
  opacity: 0;
 }

 /*random stacked images*/

 @keyframes show-photo {
  to { 
    opacity: 1; 
  }
}
.shuffle {
    width: 100vw; 
    height: 100%;
  position: relative;
    background: var(--blue);
    overflow: hidden;
}
.shuffle img { 
  opacity: 0; 
  transform: scale(1.5);
  border: 3px solid var(--blue);
}

.expose {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.reveal-photo-box img { 
  animation: show-photo 1s 1s forwards; 
}

.full-screen-pic {
  top: 0 !important;
  left: 0 !important;
    transform: none !important;
    border: none !important;
    z-index: 7;
    width: 100vw !important; 
    height: 100% !important;
}

/*javascript typing text animation*/

p {
  grid-column: 2 / -2;
  background: linear-gradient( to top left ,hsla(211, 80%, 80%,1), whitesmoke, hsla(358, 85%, 80%,1));
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 500;
  font-size: 1em;
  color: var(--blue);
  padding: 20px;
  border-radius: 10px;
}

.toTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: var(--blue);
  background: linear-gradient( to right , white 50%, var(--red) 50%);
  border-radius: 10px;
  border: 5px solid var(--blue);
  z-index: 99;
  cursor: pointer;
  font-size: 3em;
  font-weight: 900;
  line-height: 0.80em;
  padding: 0;
}

.down-arrow {
  color: var(--blue);
  background: linear-gradient( to right , hsla(0, 0%, 100%,0.5) 50%, hsla(358, 83%, 46%,0.5) 50%);
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 100%,0.6);
  z-index: 8;
  cursor: pointer;
  font-size: 4em;
  line-height: 0.80em;
  padding: 0;
  padding-top: 40px;
  position: absolute;
  bottom: 5%;
  left: 48%;
  transform: rotate(180deg);
}

/*four-squares animation*/


.color-container {
  position: absolute;
  top: 0%;
  left: 0%;
display: grid; 
grid-template-columns: 20fr 1fr 8fr 1fr 20fr;
grid-template-rows: 30fr 1fr 8fr 1fr;
        width: 100vw;
        height: 100vh;
        background: none;
        overflow: hidden;
    }

    .squareitem {
      z-index: 2;
      width: 0; 
      height: 0;
      border-top: 2em  solid var(--blue);
      border-left: 1em  solid transparent; 
      border-right: 1em solid transparent; 
      background: none;
      position: relative;
      transition: transform 1.8s ease-in-out;
      }

    
    .top-right {
        grid-column: 4;
        grid-row: 2;
    }
    
    .top-right-expand {
        transform: translateY(15px);
    }

    .top-left {
        grid-column: 2;
        grid-row: 2;
    }
    
    .top-left-expand {
        transform: translateY(15px);
    }
    
    .bottom-left {
        grid-column: 2;
        grid-row: 4;
    }
    
    .bottom-left-expand {
        transform: translateY(15px);
    }
    
    .bottom-right {
        grid-column: 4;
        grid-row: 4;
    }
    
    .bottom-right-expand {
        transform: translateY(15px);
    }
    
/* show tiles on buttonclick*/

.unit {
  width: 100%;
  padding: 0;
  transition: all .9s;
}
.hidden-tile {
  width: 0;
  height: 0;
  min-height: auto;
  opacity: 0;
}
.shade-original {
  background-color: khaki; 
}
.shade-added {
  background-color: peachpuff;
}
.tiles {
  text-align: center;
  padding: 2em 0;
  min-height: 100%;
  overflow: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
button.show-tiles {
  font-size: 1em;
    width: 100%;
    height: 10vh;
    color: white;
    border-bottom: 4px solid var(white);  
   background: var(--blue);
}
.tile-container {
    width: 100%;
    margin: 0;
    grid-column: 2;
}
        
.tile-pic {
    width: 100%;
    height: 100%;
}        

/*toggle show*/

a.toggle {
  display: none;
  position: fixed;
  top: 5px;
  left: 5px;
  color: var(--blue);
  background: no-repeat center/100% url("../../img/bkg/flag-fabric.svg");
  box-shadow: 0 50px 100px rgba(50,50,93,.2), 0 15px 35px rgba(50,50,93,.3), 0 5px 15px rgba(0,0,0,.2); 
  text-shadow: -1px 0 darkgray, 0 1px darkgray, 1px 0 darkgray, 0 -1px darkgray;
  font-size: 3em; 
  font-weight: 900;
  line-height: 1em;
  text-decoration: none;
  padding: 2px;
  border-radius: 10px;
  border: 5px solid var(--blue);
  z-index: 99;
}

.toggle-content {
	display: none;
	height: 0;
	overflow: hidden;
  transition: height 0.5s ease-in-out;
  
}

.toggle-content.is-visible {
  opacity: 0.99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background: no-repeat center/100% url("../../img/bkg/flag-fabric.svg");
z-index: 11;
padding: 0;
margin: 0;
display: grid;
height: 100%;
}

.mobile-menu {
display: grid;
grid-gap: 10px;
list-style: none;
grid-template-columns: 1fr 1fr;
place-content: space-around;
}

.mobile-menu a  {
  text-decoration: none;
  padding: 7px;
  text-align: center;
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: 700;
  transition:all 0.3s;
  border-radius: 10px;
}

.mobile-menu a:hover {
  color: var(--blue);
  border-bottom: 4px solid var(--blue);  
 background: white;
 transition:all 0.2s;
}

.sub-list h4{
  background: var(--red);
  text-decoration: none;
  padding: 7px;
  text-align: center;
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: 700;
  transition:all 0.3s;
  border-radius: 10px;
}

.sub-mobil-menu {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-auto-flow:row;
  place-content: space-around;
}

.sub-mobil-menu  a {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 700;
  background: var(--blue);
  text-decoration: none;
  padding: 5px;
  text-align: center;
  color: whitesmoke;
  font-size: 1rem;
  transition:all 0.9s;
  border-radius: 10px;
font-family:  "Helvetica";
}

.flag-menu {
  padding: 0;
  height: 50px;
  border: 10px solid var(--blue);
}

.flag-link {
  position: relative;
  grid-column: span 1;
  padding: 0;
  border-radius: 0px;
  background: var(--blue);
}

nav {
  display: grid;
  grid-template-columns: 60px 1fr;
  background-color: var(--blue);
  width: 100vw;
  top: 0;
  grid-column: 1 / -1;
  transition:all 0.7s;
  position: relative;
  z-index: 9;
}

body.fixed-nav nav {
  position: fixed;
}

.submenu-box {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  font-family:  "Helvetica";
  grid-auto-flow: column;
  place-content: space-around;
}

.submenu-box a {
  color: azure;
  background: var(--red);
  border-bottom: 4px solid transparent;  
  border-radius: 10px;
}

.submenu-box a:hover {
   color: var(--red);
   border-bottom: 4px solid var(--red);  
  background: white;
  transition:all 0.3s;
}

.menu a {
  text-decoration: none;
  padding: 7px;
  text-align: center;
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: 700;
  transition:all 0.3s;
  border-radius: 10px;
}

figure {
  grid-column: 2 / -2;
  border-radius: 10px;
}

figcaption {
  text-align: center;
  background-color: var(--blue);
  color: azure;
}

.contentimg {
        width: 100%;
      }

/*slide in image*/
.slide-in {
  opacity:0;
  transition:all .8s;
}

.align-left.slide-in {
  transform:translateX(-10%) scale(0.95);
}
.align-right.slide-in {
  transform:translateX(10%) scale(0.95);
}

.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}

footer {
  margin-top: 50px;
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}   

footer >* {
  place-self: center;
} 

/*simplest css slider*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
figure.css-slide, .only-css-slider, .css-carrusel { 
  margin: 0; 
}
.css-carrusel { 
  width: 100%;
  height: 100vh;
 overflow: hidden; 
 grid-column: 1 / -1;
 place-self: center;
}
figure.only-css-slider { 
  position: relative; 
  width: 500%;
  font-size: 0;
   animation: 20s slidy infinite; 
   transition: all 1s cubic-bezier(.17,.67,.83,.67);
}
figure.only-css-slider figure.css-slide { 
  width: 20%;
   height: auto;
  display: inline-block; 
   position: inherit; 
}
figure.css-slide img { 
  width: 100%;
   height:100vh; 
  }
figure.only-css-slider figure.css-slide figcaption { 
  position: absolute; 
  bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff;
   width: 100%;
  font-size: 2rem;
   padding: .6rem; 
}

/*drawers panels*/

.drawer-wrap {
  margin: 2em 0 2em;
  height: 70vh;
  width: 100vw;   
  grid-column: 1 / -1;
 display: grid;
 grid-template-columns: repeat(6 , 1fr);
 overflow: hidden;
 border: 1em solid var(--blue);
     }    
     
.drawer {
 display: grid;
 height: 100vh;
 width: auto;
background-color: hsla(211, 76%, 28%,1);
box-shadow: 0px 0px 24px rgba(0,0,0,.5);
transition: all .9s ease-in-out;
 overflow: hidden;
 transform: scaleX(1.01) skewX(-5deg) translateX(-1em);
}

.title {
 place-self: center;
 cursor: pointer;
 padding: 0 10px 0;
text-align: center;
 font-family: 'Georgia','Tahoma','Arial';
 font-size: 3em;
 font-weight: 900;
white-space: nowrap;
transition: all .9s ease-in-out;
 transform: rotate(90deg);
 color: aliceblue;
 background-color: hsla(211, 76%, 28%,1);
}

.open .title {
 padding: 0;
 padding-top: 1em;
 place-self: start center;
 background-color: var(--red);
 color: aliceblue;
 transform: rotate(0deg);
}        
     
.drawer.open {
 width: 70vw;
 transform: scale(1.1) skewX(0deg) translateX(0);
}

/*ANIMATION*/

#drawer-01 {
 background:  no-repeat center/100% url("../../img/cont/11.jpg");
 background-size: cover;
}

#drawer-02{
 background:  no-repeat center/100% url("../../img/cont/4.jpg");
 background-size: cover;
}

#drawer-03  {
 background:  no-repeat center/100% url("../../img/cont/5.jpg");
 background-size: cover;
}

#drawer-04  {
 background:  no-repeat center/100% url("../../img/cont/10.jpg");
 background-size: cover;
}
#drawer-05  {
 background:  no-repeat center/100% url("../../img/cont/13.jpg");
 background-size: cover;
}

#drawer-06  {
 background:  no-repeat center/100% url("../../img/cont/19.jpg");
 background-size: cover;
}

/*panels boxes transform*/

.panels-box {
    grid-column: 1 / -1;
    place-self: start center;  
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column; 
    place-items: center;
    justify-content: space-around;	
}

.panel-item {
  position: relative;
  display: grid;
  overflow: hidden;
  place-items: center;
    justify-content: space-around;	
}

.panel-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
  justify-content: space-around;	
  text-align: center;
  background: rgba(142, 233, 232, 0.95);
  padding: 20px;
  color: white;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.panel-picture {
 width: 100%;
}

.panel-item:hover .panel-content {
  transform: translate(0, 0);
}

.panel-right .panel-content {
  transform: translate(100%, 0);
}

.panel-bottom .panel-content {
  transform: translate(0, 100%);
}

.panel-top .panel-content {
  transform: translate(0, -100%);
}

.panel-left .panel-content {
  transform: translate(-100%, 0);
}

.panel-picture {
 width: 100%;
}

/*simplest accordion*/

.simple-accordion {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
  place-items: center;
  justify-content: space-evenly;	
  align-content: space-around;
}
.accordion-term {
  cursor: pointer;
  padding: 1rem;
  grid-column: 2;
  width: 100%;
  background-color: var(--blue);
  color: whitesmoke;
  border-radius: 10px;
  cursor:pointer;
  text-align: center;
  position: relative;
  font-size: 1em;
  font-weight: 600;
  height: auto;
}


.accordion-definition {
  background-color: transparent;
  padding: 0rem;
  grid-column: 2;
  border-radius: 4px;
  opacity: 0;
  height: 0;
  transform: scaleY(0.1);
}

.accordion-definition.accordion-open {
display: block;
color: whitesmoke;
  opacity: 1;
      transform: scaleY(1);
      width: 100%;
  height: auto;
    transition: all .8s ease-out;
}
.text-accordion {
background: hsla(211, 76%, 88%,1);
color: #0b2c50;
padding: 5px;
}
/*javascript simple accordion*/

.accordion-container {
  display: grid;
  grid-column: 2;
  grid-auto-columns: 1fr;
  background:var(--blue);
  width:100%;
  box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: 5px solid var(--red); 
  border-radius: 10px;
}

accordionbox {
  padding: 1em;
  width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;	
}

.accordion-item {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;	
  place-self: center;
}
       
a.link-accordion {
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  justify-content: space-around;
  width: 100%;
  background-color: var(--red);
  color: whitesmoke;
  border-radius: 10px;
  cursor:pointer;
  padding: 10px;
  text-align: center;
  position: relative;
  font-size: 1em;
  font-weight: 600;
}

.arrows-accordion {
    background-color: var(--blue);
  color: whitesmoke;
  font-weight: 900;
  font-size: 1.1em;
  border-radius: 50%;
}

.arrows-accordion:hover {
   color: var(--blue);
   background-color: var(--red);
}

.accordionbox a:hover {
  cursor: pointer;
  background: whitesmoke;
  color:var(--blue);
}

.accordionbox a.active {
  background: whitesmoke;
  color:var(--blue);
}

.accordionbox .accordion-item-content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease 0.15s;
}

p.text-accordion {
  background: hsla(211, 76%, 88%,1);
  color: #0b2c50;
  padding: 5px;
  text-align: center;
}

.accordionbox .accordion-item-content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordionbox .accordion-item-content.active {
  opacity: 1;
  height: 100%;
  transition: all 0.35s ease 0.15s;
}

/*javascript accordion*/

.accordionWrapper{
  display: grid;
  grid-column: 2;
  grid-auto-columns: 1fr;
  background:var(--blue);
  width:100%;
  box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: 5px solid var(--red); 
  border-radius: 10px;
}

p.accordion-text {
  background: hsla(211, 76%, 88%,1);
  color: #0b2c50;
  padding: 5px;
}
      
.accordionItem{
  position: relative;
  display:block;
  width:100%;
  border: 5px solid var(--red); 
  padding: 0px;
}

.close-accord .accordionItemHeading {
  cursor:pointer;
}

.accordionItemHeading{
  padding:5px;
  background: var(--blue);
  color:whitesmoke;
  width:100%;
  height: auto;
  border-radius: none;
}
.close-accord .accordionItemContent{
  height:0px;
  transition:all .4s ease-out;
  opacity: 0;
  padding: 5px;
  display:block;
}

.open-acccord .accordionItemContent{
  padding: 5px;
  background-color : var(--blue);
  width: 100%;
    height: 100%;
  display:block;
opacity: 1;
transition: all 0.5s ease-in-out;
}

.open-acccord .accordionItemHeading{
  background-color: var(--red);
  color: whitesmoke;
  border-radius: 0px;
  cursor:pointer;

}

/*Thumbnail slider*/

.thumbnail-gallery-box{
  grid-column: 1 / -1;
  place-self: start center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
width: 100vw; /*Same as width of the large image*/
height: 80vh;
position: relative;
margin: 0;
  overflow: hidden;
}

.thumbnail-gallery-box>img{
  position: absolute;
  width: 100%;
  height: 80%;
  grid-column: 1 / -1;
place-self: start center;
transition: all 1.9s;
}

.thumbnail-gallery-box input[name='thumbnail_switch'] {
display: none;
}

.thumbnail-gallery-box label.thumbnail-label {
  align-self: end;
  width: 100%;
  height: 20%;
border: 3px solid var(--blue);
cursor: pointer;
transition: all 1.5s;
  opacity: 0.7;
  overflow: hidden;
}

.thumbnail-gallery-box label.thumbnail-label img{
  display: block;
  width: 100%;
  height: 100%;
}

.thumbnail-gallery-box input[name='thumbnail_switch']:checked+label.thumbnail-label {
border-color: var(--red);
opacity: 1;
}

.thumbnail-gallery-box input[name='thumbnail_switch'] ~ img {
opacity: 0;
transform: scale(1.3) rotate(-180deg);
}

.thumbnail-gallery-box input[name='thumbnail_switch']:checked+label.thumbnail-label+img {
opacity: 1;
transform: scale(1);
}

label.thumbnail-label {
padding: 0px;
border-radius: 0px;
z-index: 8;
}

/*random effects image gallery*/

.picture-zoom-box {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  overflow: hidden;
  grid-column: 1 / -1;
}

.zoom-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.zoom-pic {
  width: 100%;
  height: 100%;
  transform: none;
  padding: 0;
  margin: 0;
  transition: all .4s ease-in;
}

.zoom-box-full {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  z-index: 8;
}

.whole-screen {
  transform: none;
}

.zoom-pic-effect {
  width: 100%;
  transition: all 2.9s ease-in;
  cursor: pointer;
}

.closing-icon {
  position: fixed;
  height: auto;
  top: 1em;
  right: 1em;
  cursor: pointer;
  z-index: 9;
  font-size: 4em;
  font-weight: 900;
  padding: 0 15px 0 15px;
  background: var(--blue);
  color: whitesmoke;
  border-radius: 1em;
}

/*css slider*/
img.css-pic {
  width: 100vw;
}

.slide1 {
  list-style: none;
  display: none;
  grid-area: picture;
  overflow: hidden;
  place-self: center;
}

.slider:nth-of-type(1):checked ~ .slide1:nth-of-type(1),
.slider:nth-of-type(2):checked ~ .slide1:nth-of-type(2),
.slider:nth-of-type(3):checked ~ .slide1:nth-of-type(3),
.slider:nth-of-type(4):checked ~ .slide1:nth-of-type(4),
.slider:nth-of-type(5):checked ~ .slide1:nth-of-type(5),
.slider:nth-of-type(6):checked ~ .slide1:nth-of-type(6) {
  display: block 
}

.radio-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
      "picture picture picture picture picture picture"
    "radio1 radio2 radio3 radio4 radio5 radio6"
    "selector selector selector selector selector selector"
    ;
  grid-column: 1 / -1;
  grid-gap: 10px;
  justify-content: space-around;	
  place-self: center;
  overflow: hidden;
  height: 80vh;
  width: 90vw;
  background: var(--blue);
   margin: 0px;
  padding: 0px; 
  border-radius: 10px;
}


input[type=radio] {
  display: block;
  place-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 20px solid whitesmoke;
  transition: 0.4s all linear;
  outline: none;
  z-index: 3;
}

input[type=radio]:checked {
  border: 20px solid  var(--red);
}

#1 {grid-area: radio1}
#2 {grid-area: radio2}
#3 {grid-area: radio3}
#4 {grid-area: radio4}
#5 {grid-area: radio5}
#6 {grid-area: radio6}

label {
  place-self: center;
  text-align: center;
  color: whitesmoke;
  font-size: 1.4em;
  font-weight: 600;
  background-color: var(--blue) ;
  font-family: "Bookman";
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.selector {
  display: grid;
  grid-auto-flow: column;
  grid-area: selector;
  grid-column: 1 / -1;
  justify-content: space-around;	
  margin-bottom: 10px;
}

/*Pure JavaScript BackGround Image Slider*/

.background-slider-box {
  width:100%;
  height:100vh;
  margin: 0;
}
.slider-outer {
   height:100% !important;
  overflow:hidden;
}
.background-slider {
     width: 100%;
    height: 100%;
}

.slide-image{
  width: 100%;
    height: 100%;
   display:block;
    color: transparent;
    background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
        display: grid;
    place-items: center;
    justify-content: space-around;	
    overflow: hidden;
}
.background-slider .slide-item{
  float:left;
    padding: 0;
    margin: 0;
    display: grid;

}
.clear{
  clear:both;
}



/*simple javascript slider*/

.wrapper { 
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: repeat(3 ,1fr);
  grid-column: 1 / -1;
  justify-content: space-around;	
  overflow: hidden;
 }

 #slider {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-content: space-around;	
 }

.imagediv {
  display: grid;
  overflow: hidden;
  width: 100%;
}

.simplesliderImg {
  cursor: pointer;
  border-style: solid;
}

img.slidejs {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

span.imgcaption {
  z-index: 8;
  place-self:center;
  font-size: 2em;
  color: white;
  background: var(--blue);
  padding: 10px;
  transform:translateY(-100px);
}

#leftarrow {
  border-width: 50px 40px 50px 0;
  border-color: transparent #ffffff transparent transparent;
  grid-column: 1 / span 1;
  grid-row: 2;
  z-index: 8;
  place-self:center;
}

#rightarrow {
  border-width: 50px 0 50px 40px;
  border-color: transparent transparent transparent #ffffff;
  grid-column: 3 / span 1;
  grid-row: 2;
  z-index: 8;
  place-self:center;
}

/* loader spinner*/

.loader {
  background: #000;
 /* background: radial-gradient(var(--blue),whitesmoke, var(--red) );*/
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: 
  spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 9px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -100ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: whitesmoke;
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: var(--red);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: var(--blue);
  height: 62px;
  width: 62px;
  top: 21px;
}


@keyframes spin {
  0%, 15% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding:20px;
  top:-20px;
  border-radius:2px;
  transition: all 0.5s;
  transform: translate(-40px,75px);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 20px;
  grid-auto-flow: row;
  justify-content: space-around;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  width:100px;
  height:100px;
  position: absolute;
  background: var(--blue);
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition:all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: grid;
  opacity:0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  align-self: start;
  justify-self: center;
  position: absolute;
  width:10px;
  height:10px;
  display: block;
  background: var(--blue);
  transform: translateY(-50%) rotate(45deg);
}

.dropdown a {
  text-decoration: none;
  color: azure;
  border-bottom: 4px solid transparent;  
}

.dropdown a:hover {
    border-bottom: 4px solid var(--red);  
}
/*sequential image reveal*/

.reveal-img-box { 
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column dense;
  justify-content: space-around;
  grid-gap: 10px;
   grid-column: 1 / -1;
   height: auto;
}

.full-screen-img {
    position: absolute;
      transform: none;
      border: 5px solid var(--blue);
      z-index: 9;
      opacity: 1;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(50,50,93,.1), 0 1px 3px rgba(50,50,93,.15), 0 5px 1px rgba(0,0,0,.1);
    }

.reveal-img-box .reveal-item { 
  width: 100%;
  transition: all .9s cubic-bezier(.17,.67,.83,.67);
  opacity: 0; 
  transform: translate(-1%,-1%) skew(1deg,1deg) rotate(1deg);
}

.reveal-img-box .reveal-item.img-visible { 
  opacity: 1; 
  transform: translate(1%,1%) skew(-1deg,-1deg) rotate(-1deg);  
  width: 100%;
  transition: all .5s ease-in-out;
  border: 5px solid rgba(0,0,0,.01);
  place-self: centrer;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(50,50,93,.1), 0 1px 3px rgba(50,50,93,.15), 0 5px 1px rgba(0,0,0,.1);
}

.reveal-img-box .reveal-item:hover {
  border: 5px solid whitesmoke;
  transform: none;
}

/*weather dark sky api*/

.weather-box {
  display: grid;
  grid-template: 1fr 4fr 2fr / 1fr;
  grid-column: 1;
  width: 100%;
  height: 80vh;
  place-items: center;
  background-color: hsla(211, 76%, 88%,1);
  color: var(--blue);
  border: 5px solid var(--blue);
  border-radius: 10px;
}

#current-weather-details {
  display:grid;
  justify-items: center;
  border-radius: 10px;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  font-size: 1em;
  color: var(--blue);
  padding: 10px;
}


#current-icon {
  width: 25%;
  height: auto;
  border: none;
  border-radius: 50px;
}

#temperature-icon {
  width: 10%;
  height: auto;
  background: none;
}

#current-temperature {
  cursor: pointer;
  width: 30%;
  height: auto;
  color: var(--red); 
  font-size: 1.2em;
}

#getWeather {
  width: 100%;
  height: auto; 
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  background-color: hsla(211, 76%, 58%,1);
  color: var(--red);   
  transition: 0.2s;
  padding: 5px;
}

#getWeather:hover {
  background-color: hsla(211, 76%, 88%,1);
  color: var(--blue);
}

.weather-sum {
  width: 100%;
  height: auto;
  color: whitesmoke;
  padding: 10px;
  background:var(--blue);
  border: none;
  border-radius: 0;
}

.weather-link {
  color: var(--blue);
  background-color: hsla(211, 76%, 88%,1);
  width: 70%;
  height: auto;
}

.info-plugins {
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-column: 1 / -1;
  place-items: center;
  justify-content: space-around;	
  width: 100%;
  height: 75vh;
}

/* Currency Converter widget by FreeCurrencyRates.com*/
.currency {
  grid-column:  3;
  background: var(--blue);
  border: 10px solid var(--blue);
}

/*calendar*/

.calendar {
  grid-column: 1 / -1;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  grid-template-rows: repeat( 4, 1fr);
  background: whitesmoke;
}

table {
  display: inline-block;
  vertical-align: top;
  margin: 1rem;
}

td {
  text-align: center;
  line-height: 1.75rem;
  width: 1.75rem;
}

thead td {
  color: #999;
  font-size: .75rem;
  text-transform: uppercase;
}

tbody td {
  font-size: .875rem;
}

tbody td:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

td.before, td.after {
  color: #999;
}

.scale-cell {
  transform: scale(3);
  font-size: 2em;
  background: var(--blue);
  color: whitesmoke;
}


.scale-cell:hover {
  background: var(--red);
  color: whitesmoke;
  cursor: pointer;
}

/* slide up box*/

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

/*simple ripple effect*/

.ripple-wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-column: 1 / -1;
  width: 100%;
  text-align: center;
}

.box {
  background-color: #f2f2f2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 4px 12px -2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.box span {
  color: #777;
  font-size: 0.85rem;
}


.btn {
  border: 0 none;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  color: #eee;
  transition: box-shadow 0.3s linear;
}
.btn:hover {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 4px 12px -2px rgba(0, 0, 0, 0.3);
}

.btn.round {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
}

.btn-grey {
  background-color: #888;
}

.btn-light {
  box-shadow: 0 0 0;
  color: rgba(0, 0, 0, 0.81);
}
.btn-light:hover {
  box-shadow: 0 0 0;
}

.btn-dark {
  background: #333;
}

.btn-red {
  background: #d32;
}

.btn-green {
  background: #6a3;
}

.btn-blue {
  background: #39c;
}

.ripple-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  overflow: hidden;
}

.ripple-effect {
  margin-top: 0px;
  margin-left: 0px;
  width: 1px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.033);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  pointer-events: none;
}

.ripple-effect.light {
  background-color: rgba(255, 255, 255, 0.15);
}

.ripple-effect.dark {
  background-color: rgba(0, 0, 0, 0.075);
}

/*writing text animation*/

.textfield {
	white-space: pre-line;
}

.textfield:after {
	content: '|';
	animation: cursor 1s linear infinite;
}


@keyframes cursor {
	0% {
		opacity: 0;
	}
	49.9% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99.9% {
		opacity: 1;
	}
}

/* Quote effect*/

blockquote {
padding: 0;
margin: 0;
}
blockquote span { 
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}

@media (max-width: 600px) {
 
.menu ul  {
  display: none;
}
  
a.toggle {
    display: block;
  } 
  
  .flag-menu {
    display: none
  }  

}


