:root {
  --blue: hsla(211, 76%, 28%,1);
  --red: hsla(358, 83%, 46%,1);
}

html {
  box-sizing: border-box;
  font-family:  "Verdana";
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: /*url("../../img/bkg/flag-fabric.svg"),*/
    linear-gradient(45deg , var(--red), var(--blue),white);
  background-size: 100%;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

.wrapsite {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    place-items: center;
    justify-content: space-around;	
    width: 100%;
    overflow: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  color: white;
  background-color: var(--blue) ;
  font-family: "Bookman";
  padding: 20px;
  border-radius: 10px;
}

h1 {
color: hsla(211, 76%, 28%,1);  
background-color: whitesmoke; 
font-size: 1.5rem;
grid-column: 2 / -2;
border: 5px dashed var(--red);
z-index: 7;
}

h2.header-title {
  position: absolute; 
  color: white;  
  background-color: hsla(211, 76%, 28%,0.7); 
  font-size: 4.5rem;
  font-family:  "arial";
  box-shadow: 0 50px 100px rgba(50,50,93,.2), 0 15px 35px rgba(50,50,93,.3), 0 5px 15px rgba(0,0,0,.2); 
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  place-self: center;
  z-index: 9;
  }

h3 {
  grid-column: 2 / -2;
  border: 1rem ridge var(--red);
}

h4 {
  color: var(--blue);
  background-color: white; 
  font-size: 1.3rem;
  border: 5px solid var(--red);
  padding: 5px;
  font-weight: 700;
  }

header {
  position: relative;
  display: grid;
  /*background: no-repeat center/100% url("../../img/bkg/charles-bridge-blue_compressed.jpg");*/
  grid-column: 1 / -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.headervideo {
  max-width: 1280px;
  z-index: 1;
}

.panoramabox {
  overflow-x: hidden;
  height: 100vh;
}

.carrusel {
  overflow-x: hidden;
  height: 100vh;
}


img.sliderimg {
  position: absolute;
  min-width: 100%;
  height: 100vh;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67);
}

img.sliderimg + img.sliderimg { 
  opacity: 0;
 }


p {
  grid-column: 2 / -2;
  background: linear-gradient( to top left ,hsla(211, 80%, 80%,1), whitesmoke, hsla(358, 85%, 80%,1));
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 500;
  font-size: 1em;
  color: var(--blue);
  padding: 20px;
  border-radius: 10px;
}

.toTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: var(--blue);
  background: linear-gradient( to right , white 50%, var(--red) 50%);
  border-radius: 10px;
  border: 5px solid var(--blue);
  z-index: 99;
  cursor: pointer;
  font-size: 3em;
  font-weight: 900;
  line-height: 0.80em;
  padding: 0;
}

.down-arrow {
  color: var(--blue);
  background: linear-gradient( to right , hsla(0, 0%, 100%,0.5) 50%, hsla(358, 83%, 46%,0.5) 50%);
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 100%,0.6);
  z-index: 8;
  cursor: pointer;
  font-size: 4em;
  line-height: 0.80em;
  padding: 0;
  padding-top: 40px;
  position: absolute;
  bottom: 5%;
  left: 45%;
  transform: rotate(180deg);
}

a.toggle {
  display: none;
  position: fixed;
  top: 5px;
  left: 5px;
  color: var(--blue);
  background: no-repeat center/100% url("../../img/bkg/flag-fabric.svg");
  box-shadow: 0 50px 100px rgba(50,50,93,.2), 0 15px 35px rgba(50,50,93,.3), 0 5px 15px rgba(0,0,0,.2); 
  text-shadow: -1px 0 darkgray, 0 1px darkgray, 1px 0 darkgray, 0 -1px darkgray;
  font-size: 3em; 
  font-weight: 900;
  line-height: 1em;
  text-decoration: none;
  padding: 2px;
  border-radius: 10px;
  border: 5px solid var(--blue);
  z-index: 99;
}

.toggle-content {
	display: none;
	height: 0;
	overflow: hidden;
  transition: height 0.5s ease-in-out;
  
}

.toggle-content.is-visible {
  opacity: 0.99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background: no-repeat center/100% url("../../img/bkg/flag-fabric.svg");
z-index: 9;
padding: 0;
margin: 0;
display: grid;
height: 100%;
}

.mobile-menu {
display: grid;
grid-gap: 10px;
list-style: none;
grid-template-columns: 1fr 1fr;
place-content: space-around;
}

.mobile-menu a  {
  text-decoration: none;
  padding: 7px;
  text-align: center;
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: 700;
  transition:all 0.3s;
  border-radius: 10px;
}

.mobile-menu a:hover {
  color: var(--blue);
  border-bottom: 4px solid var(--blue);  
 background: white;
 transition:all 0.2s;
}

.sub-list h4{
  background: var(--red);
  text-decoration: none;
  padding: 7px;
  text-align: center;
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: 700;
  transition:all 0.3s;
  border-radius: 10px;
}

.sub-mobil-menu {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-auto-flow:row;
  place-content: space-around;
}

.sub-mobil-menu  a {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 700;
  background: var(--blue);
  text-decoration: none;
  padding: 5px;
  text-align: center;
  color: whitesmoke;
  font-size: 1rem;
  transition:all 0.9s;
  border-radius: 10px;
font-family:  "Helvetica";
}

.flag-menu {
  padding: 0;
  height: 50px;
  border: 10px solid var(--blue);
}

.flag-link {
  position: relative;
  grid-column: span 1;
  padding: 0;
  border-radius: 0px;
  background: var(--blue);
}

nav {
  display: grid;
  grid-template-columns: 60px 1fr;
  background-color: var(--blue);
  width: 100vw;
  grid-column: 1 / -1;
  top:0;
  transition:all 0.7s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
}

.submenu-box {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  font-family:  "Helvetica";
  grid-auto-flow: column;
  place-content: space-around;
}

.submenu-box a {
  color: azure;
  background: var(--red);
  border-bottom: 4px solid transparent;  
  border-radius: 10px;
}

.submenu-box a:hover {
   color: var(--red);
   border-bottom: 4px solid var(--red);  
  background: white;
  transition:all 0.3s;
}

.menu a {
  text-decoration: none;
  padding: 7px;
  text-align: center;
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: 700;
  transition:all 0.3s;
  border-radius: 10px;
}

figure {
  grid-column: 2 / -2;
  border-radius: 10px;
}

figcaption {
  text-align: center;
  background-color: var(--blue);
  color: azure;
}

.contentimg {
        width: 100%;
      }

/*slide in image*/
.slide-in {
  opacity:0;
  transition:all .8s;
}

.align-left.slide-in {
  transform:translateX(-10%) scale(0.95);
}
.align-right.slide-in {
  transform:translateX(10%) scale(0.95);
}

.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}

footer {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}   

footer >* {
  place-self: center;
} 

/*css slider*/
img.css-pic {
  width: 100vw;
}

.slide1 {
  list-style: none;
  display: none;
  grid-area: picture;
  overflow: hidden;
  place-self: center;
}

.slider:nth-of-type(1):checked ~ .slide1:nth-of-type(1),
.slider:nth-of-type(2):checked ~ .slide1:nth-of-type(2),
.slider:nth-of-type(3):checked ~ .slide1:nth-of-type(3),
.slider:nth-of-type(4):checked ~ .slide1:nth-of-type(4),
.slider:nth-of-type(5):checked ~ .slide1:nth-of-type(5),
.slider:nth-of-type(6):checked ~ .slide1:nth-of-type(6) {
  display: block 
}

.radio-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
      "picture picture picture picture picture picture"
    "radio1 radio2 radio3 radio4 radio5 radio6"
    "selector selector selector selector selector selector"
    ;
  grid-column: 1 / -1;
  grid-gap: 10px;
  justify-content: space-around;	
  place-self: center;
  overflow: hidden;
  height: 80vh;
  width: 90vw;
  background: var(--blue);
   margin: 0px;
  padding: 0px; 
  border-radius: 10px;
}


input[type=radio] {
  display: block;
  place-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 20px solid whitesmoke;
  transition: 0.4s all linear;
  outline: none;
  z-index: 3;
}

input[type=radio]:checked {
  border: 20px solid  var(--red);
}

#1 {grid-area: radio1}
#2 {grid-area: radio2}
#3 {grid-area: radio3}
#4 {grid-area: radio4}
#5 {grid-area: radio5}
#6 {grid-area: radio6}

label {
  place-self: center;
  text-align: center;
  color: whitesmoke;
  font-size: 1.4em;
  font-weight: 600;
  background-color: var(--blue) ;
  font-family: "Bookman";
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.selector {
  display: grid;
  grid-auto-flow: column;
  grid-area: selector;
  grid-column: 1 / -1;
  justify-content: space-around;	
  margin-bottom: 10px;
}

/*image carussel*/
.arrsliderimg {
  width: 100%;
}

.carousel-slideshow {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.slide {
  position: relative;
  display: block;
  top: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  transition: all 999ms cubic-bezier(.17,.67,.83,.67);
  z-index: 1;
  overflow: hidden;
}
.slider-arrow-box-left, .slider-arrow-box-right {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}
.slider-arrow-box-left {
  left: 0;
}
.slider-arrow-box-right {
  right: 0;
}
.slider-arrow-box-left:hover .left-slider-arrow,
.slider-arrow-box-right:hover .right-slider-arrow {
  border-color: rgba(255,255,255,0.9);
}
.left-slider-arrow, .right-slider-arrow {
  position: relative;
  top: 50%;
  margin-top: -14px;
  width: 40px;
  height: 40px;
  border-bottom: 14px solid;
  border-left: 14px solid;
  border-color: rgba(255,255,255,0.5);
  -webkit-transition: border-color 200ms;
  -moz-transition: border-color 200ms;
  -o-transition: border-color 200ms;
  transition: border-color 200ms;
}
.left-slider-arrow {
  margin-left: 10px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.right-slider-arrow {
  margin-right: 10px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*simple javascript slider*/

.wrapper { 
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: repeat(3 ,1fr);
  grid-column: 1 / -1;
  justify-content: space-around;	
  overflow: hidden;
 }

 #slider {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-content: space-around;	
 }

.imagediv {
  display: grid;
  overflow: hidden;
  width: 100%;
}

.simplesliderImg {
  cursor: pointer;
  border-style: solid;
}

img.slidejs {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

span.imgcaption {
  z-index: 8;
  place-self:center;
  font-size: 2em;
  color: white;
  background: var(--blue);
  padding: 10px;
  transform:translateY(-100px);
}

#leftarrow {
  border-width: 50px 40px 50px 0;
  border-color: transparent #ffffff transparent transparent;
  grid-column: 1 / span 1;
  grid-row: 2;
  z-index: 8;
  place-self:center;
}

#rightarrow {
  border-width: 50px 0 50px 40px;
  border-color: transparent transparent transparent #ffffff;
  grid-column: 3 / span 1;
  grid-row: 2;
  z-index: 8;
  place-self:center;
}

/* loader spinner*/

.loader {
  background: #000;
 /* background: radial-gradient(var(--blue),whitesmoke, var(--red) );*/
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: 
  spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 9px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -100ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: whitesmoke;
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: var(--red);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: var(--blue);
  height: 62px;
  width: 62px;
  top: 21px;
}


@keyframes spin {
  0%, 15% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding:20px;
  top:-20px;
  border-radius:2px;
  transition: all 0.5s;
  transform: translate(-40px,75px);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 20px;
  grid-auto-flow: row;
  justify-content: space-around;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  width:100px;
  height:100px;
  position: absolute;
  background: var(--blue);
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition:all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: grid;
  opacity:0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  align-self: start;
  justify-self: center;
  position: absolute;
  width:10px;
  height:10px;
  display: block;
  background: var(--blue);
  transform: translateY(-50%) rotate(45deg);
}

.dropdown a {
  text-decoration: none;
  color: azure;
  border-bottom: 4px solid transparent;  
}

.dropdown a:hover {
    border-bottom: 4px solid var(--red);  
}
/*sequential image reveal*/

.reveal-img-box { 
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column dense;
  justify-content: space-around;
   grid-column: 1 / -1;
   height: 100vh;
}
.reveal-img-box .reveal-item { 
  width: 90%;
  transition: all .5s cubic-bezier(.17,.67,.83,.67);
  opacity: 0; 
  transform: translate(-1%,-1%) skew(1deg,1deg) rotate(1deg);
  border: 5px solid rgba(0,0,0,.01);
  place-self: centrer;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(50,50,93,.1), 0 1px 3px rgba(50,50,93,.15), 0 5px 1px rgba(0,0,0,.1);
}

.reveal-img-box .reveal-item.img-visible { 
  opacity: 1; 
  transform: translate(1%,1%) skew(-1deg,-1deg) rotate(-1deg);  
}

.reveal-img-box .reveal-item:hover {
  border: 5px solid whitesmoke;
}

/* slide up box*/

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

@media (max-width: 600px) {
 
.menu ul  {
  display: none;
}
  
a.toggle {
    display: block;
  } 
  
  .flag-menu {
    display: none
  }  

}


